@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to right, #0083B0, #6374B9);
}

section {
    max-width: 1200px;
}

p {
    margin: 0;
}

.text-attention {
    color: #EC992A;
}

.div-success {
    background-color: #00BEB6;
}

.div-warning {
    background-color: #EC992A;
}

.div-danger {
    background-color: #CD5055;
}

.request-budget__btn, .add-expences__btn, .reset-btn {
    background-color: #6374B9;
    transition-duration: 0.3s;
}

.request-budget__btn:hover, .add-expences__btn:hover, .reset-btn:hover {
    background-color: #5263a8;
}

.request-budget__btn:focus, .add-expences__btn:focus, .reset-btn:focus {
    background-color: #5263a8;
}

.request-budget__btn:disabled, .add-expences__btn:disabled {
    background-color: #6374B9;
    opacity: 0.65;
    pointer-events: auto;
    cursor: not-allowed;
}

.add-expences__btn:disabled:hover {
    background-color: #6374B9;
}

.budget-container {
    background-color: #0083B0;
}

.request-budget__container span {
    font-size: 18px;
    font-weight: 500;
}

.expences__container br {
    display: none;
}

.expences__container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.expences__container span {
    background-color: #0083B0;
    padding: 3px 10px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
}

.remove-btn {
    background-color: transparent;
    color:red;
    font-size: 24px;
    font-weight: 700;
    border: none;
}

@media (min-width: 576px) {
    .request-budget__btn {
        max-width: 100px
    }
    .add-expences__btn, .reset-btn {
        max-width: 150px;
    }
}

@media (min-width: 768px) {
    .request-budget input {
        max-width: 350px;
    }
    .expences__container br {
        display: block;
    }
}